div {
display: block;
}

#example-element {
  width: 100px;
  height: 100px;
  transfrom-style: preserve-3d;
  transition: transform 0.3s;
  transform: rotate3d(2, -1, -1, -0.2turn);
  margin: 50px auto;
}

.transition all {
  transition: all 0.3s ease in;
}

.face {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: inherit;
  font-size: 60px;
  color: white;
}

