div {
display: block;
}

#example-element {
  width: 100px;
  height: 100px;
  transfrom-style: preserve-3d;
  transition: transform 0.3s;
  transform: rotate3d(2, -1, -1, -0.2turn);
  margin: 50px auto;
}

.transition all {
  transition: all 0.3s ease in;
}

.face {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: inherit;
  font-size: 60px;
  color: white;
}

.front {
  background: rgb(90 90 90 / 70%);
}

.back {
  background: rgb(0 210 0 / 70%);
}

.right {
  background: rgb(210 0 0 / 70%);
}

.left {
  background: rgb(0 0 210 / 70%);
}

.top {
  background: rgb(210 210 0 / 70%);
}

.bottom {
  background: rgb(210 0 210 / 70%);
}
